html,
body {
  height: 100%;
  background: #ecf0f1;
}

svg {
    height: 1.2rem;
}

/* HEADER */

.navbar .navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

/* FORM SECTION */

.main {
    max-width: 330px; 
}

.login-form input[type='email'] {
    margin: 1rem 0;
}

.signup-form input {
    margin-bottom: 1rem;
}
